<div class="app">
  <div class="title-app">
    <h1>Digite a palavra que voce deseja</h1>
  </div>
  <%= form_with url: words_path, html: { class: "search-box" } do |f| %>
    <%= f.text_field :name, class: "search-txt" %>
    <button type="submit" class="search-btn">
      <i class="fas fa-search"></i>
    </button>
  <% end %>
  <canvas width="1200" height="600" data-nodes="<%= @graph_data.to_json %>"></canvas>
</div>
